.capa {
    text-align: center;
    background-color: black;
}
.card {
    height: 437px;
    width: 250px;
}
.imgRes {
    height: 267px;
    width: 200px;
}
/* index */
@media only screen and (max-width: 770px) {
    .card {
        height: 400px;
        width: 180px;
    }
    .imgRes {
        height: 240px;
        width: 180px;
    }
}
@media only screen and (max-width: 3000px) {
    .img-fluid{
        min-width: 1200px;
    }
}
@media only screen and (max-width: 770px) {
    .img-fluid{
        min-width: 100%;
        max-height: 600px;
    }
}
